/* common button style */
.btn-common{
    background: #B68C5A;
    color: white;
}
.btn-common:hover{
    background: #B68C5A;
    color: white;
    border: 1px solid rgb(67, 67, 156);
}

/* banner section style  */
.banner{
    background-image: url("../images/banner.png");
    background-position: center;
    height: 80vh;
    width: 100%;
}

/* practice area section style  */
.img-container{
    height: 120px;
}

/* our client feedback  section style  */
#carousel-image1{
    background-image: url('../images/slider-1.jpg'),url('../images/Rectangle7.png');
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height:500px;
    background-size: cover;
}
#carousel-image2{
    background-image: url('../images/slider-2.jpg'),url('../images/Rectangle7.png');
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height:500px;
    background-size: cover;
}
#carousel-image3{
    background-image: url('../images/slider-3.jpg'),url('../images/Rectangle7.png');
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height:500px;
    background-size: cover;
}
.client-info{
    bottom: 25%;
}
/* footer section style  */
.footer{
    background: #111111;
    color: white;
}
/* Media query  */
@media screen and (max-width:576px) {
    #carousel-image1,  #carousel-image2,  #carousel-image3{
        
        color: aliceblue;
    }
    .client-info{
        bottom: 10%;
    }
}