.btn-common{
    background: #B68C5A;
    color: white;
}
.btn-common:hover{
    background: #B68C5A;
    color: white;
    border: 1px solid rgb(67, 67, 156);
}

.banner{
    background-image: url("../images/banner.png");
    background-position: center;
    height: 80vh;
    width: 100%;
}